# vscode
/files/.config/Code/*
!/files/.config/Code/User/settings.json

# fonts
/files/.fonts/.uuid

# albert
/files/.config/albert/*
!/files/.config/albert/albert.conf

# bin
/files/bin/*
!/files/bin/funcoeszz
!/files/bin/blocklets
!/files/bin/format

# gnupg
/files/.gnupg/*
!/files/.gnupg/gpg.conf
!/files/.gnupg/gpg-agent.conf