# vscode
dots/.config/Code/*
!dots/.config/Code/User/settings.json

# fonts
dots/.fonts/.uuid

# albert
dots/.config/albert/*
!dots/.config/albert/albert.conf

# bin
bin/bin/*
!bin/bin/funcoeszz
!bin/bin/blocklets