#!/bin/bash

alias ll='ls -FGlahs'
alias cat='bat'
alias dus='du -sh * | sort -h'
alias grep='grep --color=auto'
alias upsa='eval "$(ssh-agent -s)"'
alias kb='setxkbmap -model abnt2 -layout br -variant abnt2'
alias mount='udiskie-mount'
alias umount='udiskie-umount'
alias gr='gpg-connect-agent reloadagent /bye'
alias copy='rsync -avhzP'
alias artisan='php artisan'
alias manage='python manage.py'
alias compose='docker-compose'
alias fw='sudo firewall-cmd'

alias reload="source $HOME/.zshrc"
alias ed-zsh="$EDITOR $HOME/.zshrc"
alias ed-hosts="sudo $EDITOR /etc/hosts"
alias ed-i3="$EDITOR $HOME/.config/i3/config"
alias ed-i3blocks="$EDITOR $HOME/.config/i3blocks/config"
alias ed-aliases="$EDITOR $HOME/.aliases"
alias ed-exports="$EDITOR $HOME/.exports"
alias ed-functions="$EDITOR $HOME/.functions"
alias ed-ssh="$EDITOR $HOME/.ssh/config"
