#!/bin/bash

md() { mkdir -p "$1" && cd "$1" || exit; }
x() { sh "$HOME/.screenlayout/$1.sh"; }
iso() { sudo dd bs=4M if="$2" of="/dev/$1" status=progress oflag=sync; }
fh() { find . -iname $1; }
zap() { echo "https://api.whatsapp.com/send/?phone=55${1}&app_absent=1" | xclip -selection clipboard -in; }

pdf-compress() {
  filename="${1%.*}"
  pdf2ps $1 ${filename}_temp.ps && ps2pdf ${filename}_temp.ps ${filename}_new.pdf
  rm -f ${filename}_temp.ps
}

# hash
sha1text() { (echo -n "$*" | openssl sha1); }
md5text() { (echo -n "$*" | openssl md5); }

# systemd
start() { sudo systemctl start "$1.service"; }
restart() { sudo systemctl restart "$1.service"; }
stop() { sudo systemctl stop "$1.service"; }
enable() { sudo systemctl enable "$1.service"; }
status() { sudo systemctl status "$1.service"; }
disable() { sudo systemctl disable "$1.service"; }

export_openssl() {
  export PATH="/opt/homebrew/opt/openssl@$1/bin:$PATH"
  export LDFLAGS="-L /opt/homebrew/opt/openssl@$1/lib"
  export CPPFLAGS="-I /opt/homebrew/opt/openssl@$1/include"
  export PKG_CONFIG_PATH="/opt/homebrew/opt/openssl@$1/lib/pkgconfig"
}
