[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "diff"]
  commit = yellow
  frag = cyan
  meta = yellow
  new = green
  old = red
  plain = black
  whitespace = red reverse
[alias]
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  # View the current working tree status using the short format
  s = status -s
  # Color graph log view
  graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
  # Credit an author on the latest commit
  credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"
  # Remove branches that have already been merged with master
  # a.k.a. ‘delete merged’
  dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d; git remote -v update -p"
  # List contributors with number of commits
  contributors = shortlog --summary --numbered
  lg = log --color --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an (%G?)>%Creset' --abbrev-commit
[help]
  autocorrect = 1
[branch]
  autosetuprebase = always
[push]
  default = current
[core]
  excludesfile = ~/.gitignore
  editor = code -w
[include]
  path = ~/.gituser
[color "diff-highlight"]
  newHighlight = green reverse
  newNormal = green
  oldHighlight = red reverse
  oldNormal = red
